.list__container {
  width: 100vw;
  padding-top: 2rem;
  background-image: url(../public/img/background.jpg);
  background-size: cover;
}

.list {
  position: relative;
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.list__nav {
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  padding: 0.5rem;
  line-height: 1rem;
  border: 1px solid gray;
  font-weight: 600;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.list__arrow {
  height: 1rem;
  margin-right: 0.5rem;
}

.list h1 {
  text-transform: uppercase;
  color: rgb(131, 186, 90);
  background-color: white;
}

.list__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0 0 2rem;
  background-color: white;
}

.list__filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 1rem;
  height: 1.5rem;
  padding: 1.5rem;
  font-size: 0.8rem;
  background-color: #f6f6f6;
}

.list__filterBtnPending {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  border: 0.5px solid #1976d2;
  cursor: pointer;
}

.list__filterBtnDone {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  border: 0.5px solid #d21935;
  cursor: pointer;
}

.list__filterBtnAll {
  background-color: #fff;
  border-radius: 0.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  border: 0.5px solid #5d5d5d;
  color: #5d5d5d;
  cursor: pointer;
}

.list__addItem {
  margin-bottom: 2rem;
}

.list__addItem input {
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 5px;
}

.list__addItem button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(210, 208, 208);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}



@media screen and (min-width: 768px) {
  .list__nav {
    padding: 1.2rem;
    font-size: 1.5rem;
  }
  
  .list__arrow {
    height: 1.2rem;
  }
  
  .list h1 {
    padding: 1rem;
    font-size: 2rem;
  }
  
  .list__items {
    padding: 0 0 4rem;
  }
  .list__addItem input {
    padding: 0.7rem;
    font-size: 1.2rem;
  }
  
  .list__addItem button {
    margin-right: 1rem;
    padding: 0.7rem 1.2rem;
    border: 1px solid rgb(210, 208, 208);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
}